ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height:100px;
	background-color: white;
	text-align: right;
	/*border-bottom: 1px solid #1850A5;*/
}
ul li {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 40px;
	margin-right: 20px;
	margin-top: 35px;
	font-size: 32px;
}
ul li.ft {
	float: left;
}
ul li:hover {
	opacity: .5;
}

