ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height:100px;
	background-color: lavender;
	text-align: center;
	/*border: 1px solid black;*/
}
ul li {
	display: inline;
	margin-left: 400px;
	font-size: 25px;
}
