body{
  background-repeat:none;
}

.container{
  display: inline-flex;
  margin:auto;
  width:33%;
}

.article-card{
  justify-content: space-between;
  width:300px;
  color:#000;
  border-radius:15px;
  background: #fff;
  margin:auto;
  box-shadow:-1px 15px 30px -12px black;
}

.article-card .author{
  padding:10px;
  min-height:60px;
}

.article-card .author .user-avatar {
  float:left;
  margin-right:15px;
  display:inline-block;
}

.article-card .author .user-avatar img{
  max-height:50px;
  border-radius:50%;
}

.article-card .author .user-name{
  font-size:15px;
  font-weight:bold;
}

.article-card .author .written-date{
  color:#777;
  font-size:12px;
}

.article-card .content-image img{
  width:100%;
}

.article-card .content-text{
  padding-left:10px;
  padding-right:10px;
  margin:20px 0 20px 0;
}

.article-card .footer{
  color:#fff;
  background-color:#e85858;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
}

.article-card .footer .part{
  width:28%;
  padding:5px;
  padding-top:20px;
  padding-bottom:20px;
  text-align:center;
  display:inline-block;
  border-right:1px solid #757575;
}

.article-card .footer .part:last-child{
  border:none;
}

.article-card .footer .part i{
  font-size:20px;
}

.article-card .footer .part .count-text{
  display:block;
  font-size: 24px;
  font-weight:bold;
}