.topPart{
  text-align: center;
  height: 200px;
  /*z-index: 2;*/
  border: 1px solid black;
}

.bottomPart {
/*    position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    /*z-index: 2;*/
    /*position: fixed;*/
    background-color: white;
    height: 200px;
    border: 1px solid black;
}
