.App {
    padding-bottom: 36em;
}
.topPart{
	min-height: 100vh;
    background: #009CDF;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 90%;
    z-index: 100;
}
.bottomPart {

}
.welcomePageDiv {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.myName {
	margin: 0 auto;
	text-align: center;
}
.welcomeButton {
	margin: 0 auto;
	max-width: 50%;
	width: 100px;
}