.topPart{
  text-align: center;
  height: 200px;
  z-index: 2;
}

.bottomPart {
/*    position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    background-color: white;
    height: 200px;
}
